<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h2 style="text-align:center;">edit </h2>
        <div style=" width: 30%; margin: 0 auto;"> 
        <form class="form-group" action="/trails/<%= trail_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
            <label class="control-label" for="text"></label>Comments:</label>
            <textarea rows="4" class="form-control" id="text" type="text" name="comment[text]">
               <%=comment.text%>  
            </textarea>
            <button class="btn btn-primary btn-block">Submit</button>
        </form>
        
    </div>
    </div>
</div>

<% include ../partials/footer %>