
   
<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h2 style="text-align:center;">add new comments to <%=trails.name%> </h2>
        <div style=" width: 30%; margin: 0 auto;"> 
        <form class="form-group" action="/trails/<%= trails._id %>/comments" method="POST">
            <label class="control-label" for="text"></label>Comments:</label>
            <textarea class="form-control" id="text" rows="5" type="text" name="comment[text]">
            </textarea>
            <button class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
    </div>
</div>

<% include ../partials/footer %>