<% include ../partials/header %>
<div class="container">
    <div class="row">
    <header class="jumbotron">
        
            <h2>Welcome to the Trail app</h2>
            <p class="header-btn"><a class="btn btn-primary" href="/trails/new">Post a New Trail</a></p>
    </header>
    </div>
    
  <div class="row" style="display: flex; flex-wrap: wrap">
      <% trails.forEach(function(trail){%>
      <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
             <img src ="<%=trail.image%>"> 
             <div class="caption">
                <h3> <%=trail.name %> </h3> 
             </div>
          </div>
          
           <p> <%= trail.description.substring(0,100)%></p> 
          
          <p>
        <a href="/trails/<%=trail._id%>" class="btn  btn-primary"> Read More..</a>
        </p>
      </div>
     <%})%>
</div>  
</div>
<% include ../partials/footer %>